/* Style des composants réutilisables */
/* Boutons */


button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: var(--transition);
}

button.primary {
    background-color: var(--primary-color);
    color: var(--text-light);
}

button.secondary {
    background-color: var(--secondary-color);
    color: var(--text-dark);
}

button.accent {
    background-color: var(--accent-color);
    color: var(--text-light);
}