footer {
    background-color: var(--nav-color);
    color: var(--text-light);
    text-align: center;
    padding: 20px;
    width: 100%;
    margin-top: auto;
    box-sizing: border-box;
    z-index: 1001;
}