
/* HERO BANNER */
.hero-banner {
    padding: 0;
    margin: 20px auto 0; /* Marge en haut uniquement, centré horizontalement */
    width: calc(100% - 40px); /* Largeur totale moins les marges */
    max-width: 1800px; /* Largeur maximale pour les grands écrans */
    height: calc(50vh - 60px); /* Soustrait la hauteur de la navbar */
    min-height: calc(500px - 60px); /* Ajuste la hauteur minimale */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    background-image: linear-gradient(to bottom right, blue, rgba(128, 0, 128, 0.608));
    position: relative;
    overflow: hidden;
    box-shadow: var(--box-shadow); /* Ajout d'une ombre pour plus de profondeur */
}

.hero-banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}

.hero-banner-content h1 {
    color: var(--text-light);
    margin: 0 0 1rem 0;
    font-size: 3rem;
}

.hero-banner-content h3 {
    margin: 0 0 2rem 0;
    font-weight: normal;
    font-size: 1.5rem;
    color: var(--text-light);
}

.hero-banner-content button {
    margin-top: 1.2rem;
    font-size: 1rem;
}



/* Section Produits populaires */
.preview-prod {
    padding: 60px 0;
    margin: 20px auto 0; /* Marge en haut uniquement, centré horizontalement */
    width: calc(100% - 40px); /* Largeur totale moins les marges */
    max-width: 1800px; /* Largeur maximale pour les grands écrans */
    min-height: calc(500px - 60px); /* Ajuste la hauteur minimale */
}

.preview-prod .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.preview-prod h2 {
    text-align: center;
    margin: 0 0 30px 0;
    font-size: 2rem;
    color: var(--dark);
    width: 100%;
}

/* Les styles des cartes de produits ont été déplacés dans components.css */

.buttons-hero {
    display: flex;
    gap: 1rem;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .buttons-hero {
        flex-direction: column;
        gap: 0.5rem;
    }
}



