/* Déclaration des couleurs et variables */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #3c1ba0;
    --secondary-color: #7b7d8000;
    --accent-color: #5859a2;
    --text-light: #ffffff;
    --text-dark: #333333;
    --nav-color: #000000b3;
    --dark: #000000;
    --dark-grey: #333333;
    --light: #f8f9fa;
    --border-radius: 25px;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --transition: all 0.3s ease;
}



/* PAGE D'ACCUEIL */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 60px; /* Hauteur de la navbar */
}

.main-content {
    flex: 1 0 auto;
    width: 100%;
    padding-bottom: 40px; /* Espace en bas du contenu avant le footer */
}

footer {
    flex-shrink: 0;
}

