*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgba(0, 0, 0, 0.9);
    color: var(--text-light);
    z-index: 1000;
    border-radius: 0 0 10px 10px;
}

.logo {
    text-decoration: none;
    color: var(--text-light);
}


.menu {
    display: flex;
    gap: 1.5rem;
    a {
        color: var(--text-light);
        text-decoration: none;
    }
}

.menu-item:hover {
    color: var(--accent-color);
    transition: color 0.3s ease;
    transform: scale(1.05)
}