/* Style général de la page */
body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 40px 0 30px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 200;
    color: #333;
}

/* Conteneur principal */
.produits {
    display: flex;
    max-width: 1600px;
    margin: 20px auto 0;
    padding: 0 40px;
    gap: 40px;
    margin-bottom: 50px;

}

/* Panneau latéral */
.panel {
    display: flex;
    width: 1100px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: fit-content;
    position: sticky;
    top: 100px;
    margin-left: 20px;
    height: 100vh;
    max-width:35%;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}

/* Conteneur de la grille */
.container {
    flex: 1;
    padding: 0;
    background: none;
}

/* Grille de produits */
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.product-card {
    background: white;
    border-radius: var(--border-radius);
    overflow: hidden;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-card .card-content {
    padding: 15px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.product-card h3, 
.product-card p {
    padding: 0 0 10px 0;
    margin: 0;
}

.product-card button {
    width: 100%;
    margin-top: auto;
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-card button:hover {
    background-color: var(--accent-color);
}


.filtre-prix {
    margin-left: 20px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


